.root {
	-fx-background-color: white;
	-fx-font-size:13pt;
}

.button {
	-fx-background-radius:3,3,3,3;
    -fx-background-color:#D3D3D3;
    -fx-border-color:green;
    -fx-text-fill:green;
    -fx-border-radius:3px;
    -fx-border-width: 0;
    -fx-pref-height: 28px;
    -fx-pref-width: 125px;
}
.button:pressed {
    -fx-background-radius:5,5,5,5;
    -fx-background-color:green;
    -fx-text-fill:#D3D3D3;
    -fx-border-color:green;
    -fx-border-radius:5px;
    -fx-border-width: 0;

}

.MenuButton {
    -fx-background-color: Green;
            -fx-pref-height: 28px;
            -fx-pref-width: 100px;
}
.toggle-button {
    -fx-background-radius:5,5,5,5;
    -fx-background-color:white;
    -fx-border-color:#1B9FC1;
    -fx-border-radius:5px;
    -fx-border-width: 1;
}

.toggle-button:selected {
    -fx-background-radius:5,5,5,5;
    -fx-background-color:palegreen;
    -fx-text-fill:white;
    -fx-border-color:palegreen;
    -fx-border-radius:5px;
    -fx-border-width: 1;
}

.label {
	-fx-text-alignment: center;
}

.combo-box {
	-fx-background-radius:5,5,5,5;
    -fx-background-color:white;
    -fx-border-color:palegreen;
    -fx-border-radius:5px;
    -fx-border-width: 1;
}

.combo-box .scroll-bar {
	-fx-background-radius:5,5,5,5;
    -fx-background-color:white;
    -fx-border-color:#1B9FC1;
    -fx-border-radius:5px;
    -fx-border-width: 1;
}

.combo-box .scroll-bar .thumb{
    -fx-background-color:palegreen;
}
.combo-box .scroll-bar .thumb:hover{
    -fx-background-color:#5DB8DE;
}

.text-area{
    -fx-max-width: 450;
    -fx-max-height: 150;
}

.text-area .scroll-bar {
	-fx-background-radius:5,5,5,5;
    -fx-background-color:white;
    -fx-border-color:palegreen;
    -fx-border-radius:5px;
    -fx-border-width: 1;
}

.progress-bar {
	-fx-background-radius:5,5,5,5;
    -fx-border-color:palegreen;
    -fx-border-radius:5px;
    -fx-border-width: 1;
    -fx-control-inner-background:white;
}

.progress-bar > .track {
  -fx-control-inner-background: white;
}

.text-area .scroll-bar .thumb{
    -fx-background-color:palegreen
}
.text-area .scroll-pane > .corner{
    -fx-background-color:palegreen;
}

.tool-bar {
    -fx-background-color:white;
}

#pane{
    -fx-background-image: url("MazeRunner.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}




